.section1 {
    background-color: lightslategrey;
}

.youtubeLogo {
    height: 100px;
    width: 100px;
}

.otherLinks {
    display: flex;
    gap: 10px;
    display: flex;
    justify-content: flex-end;
}